<template name="sprinklerActionButtonsActive">
    <div class="button button-primary button-icon buttonContainer--button js-pauseSprinkler">
        <span class="iconHolder button--iconHolder">{{ > Template.dynamic template="iconPause" data=primaryIcon}}</span>Pause
    </div>
    <div class="button button-secondary button-icon buttonContainer--button js-resetSprinkler">
        <span class="iconHolder button--iconHolder">{{ > Template.dynamic template="iconReset" data=secondaryIcon}}</span>Reset
    </div>
</template>
