<template name="sprinklerActionButtonsPaused">
    <div class="button button-primary button-icon buttonContainer--button js-resumeSprinkler">
        <span class="iconHolder button--iconHolder">{{ > Template.dynamic template="iconStart" data=primaryIcon}}</span>Resume
    </div>
    <div class="button button-primary button-icon buttonContainer--button js-stopSprinkler">
        <span class="iconHolder button--iconHolder">{{ > Template.dynamic template="iconStop" data=primaryIcon}}</span>Stop
    </div>
</template>
